{% extends "base.html" %} {% load wagtailcore_tags navigation_tags wagtailimages_tags %}
 
{% block content %}
{% with image=page.image title=page.title authors=page.authors date=page.date_published body=page.body categories=page.get_categories %}
<!-- ======= Blog Single Section ======= -->
<section id="blog" class="blog"> 
  {% if page.title %}
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-8 entries">
        <article class="entry entry-single">
          <div class="entry-img">
            {% image page.image fill-850x530 as blog_image %}
            <img src="{{blog_image.url}}" alt="" class="img-fluid" />
          </div>

          <h2 class="entry-title">
            <a href="{% pageurl page %}">{{page.title}}</a>
          </h2>

          <div class="entry-meta">
            <ul>
              {% if page.authors %}
              <li class="d-flex align-items-center">
                <i class="bi bi-person"></i>
                {% for author in page.authors|slice:"1" %}
                <a>{{author}}</a>
                {% endfor %}
              </li>
              {% endif %}

              {% if page.date_published %}
              <li class="d-flex align-items-center">
                <i class="bi bi-clock"></i>
                <a 
                  ><time datetime="2020-01-01">{{page.date_published}}</time></a
                >
              </li>
              {% endif %}
              {% if post.get_comments %}
              <li class="d-flex align-items-center">
                <i class="bi bi-chat-dots"></i>
                <a href="#">{{post.comments.count}}</a>
              </li>
              {% endif %}
            </ul>
          </div>

          <div class="entry-content">{{page.body|safe}}</div>

          <div class="entry-footer">
            {% if page.categories %}
            <i class="bi bi-folder"></i>
            <ul class="cats">
                {% for category in page.categories %}
              <li><a href="{% pageurl page.get_parent %}categories/{{category.slug}}">{{category.name}}</a></li>
              {% if not forloop.last %}, {% endif %}
              {% endfor %}
            </ul>
            {% endif %}

            {% if page.get_tags %}
            <i class="bi bi-tags"></i>
            <ul class="tags">
                {% for tag in page.get_tags %}
              <li><a href="{{tag.url}}">{{tag}}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </article>
        <!-- End blog entry -->

        {% if author %}
        {% include "blog/includes/author-bio.html" %}
        {% endif %}
        <!-- End blog author bio -->

        {# Comments and Replies Functionality is unvailable at the moment. #}
        {% comment %} {% include "blog/includes/comments.html" %} {% endcomment %}
        <!-- End blog comments -->
      </div>
      <!-- End blog entries list -->

      {% include "blog/includes/sidebar/sidebar.html" %}
      <!-- End blog sidebar -->
    </div>
  </div>
  {% else %}
  {# If there are no posts #}
<div class="section-title">
  <h2>Blog Entry</h2>
  <h3>
    <span>
        {% comment %}  {% endcomment %}
    </span>
    </h3>
    <p>Create an entry</p>
</div>

  {% endif %}
</section>
<!-- End Blog Single Section -->
{% endwith %}
{% endblock content %}
