<div class="blog-comments">
  <h4 class="comments-count">8 Comments</h4>

  <div id="comment-1" class="comment">
    <div class="d-flex">
      <div class="comment-img">
        <img src="assets/img/blog/comments-1.jpg" alt="" />
      </div>
      <div>
        <h5>
          <a href="">Georgia Reader</a>
          <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a>
        </h5>
        <time datetime="2020-01-01">01 Jan, 2020</time>
        <p>
          Et rerum totam nisi. Molestiae vel quam dolorum vel voluptatem et et.
        </p>
      </div>
    </div>
  </div>
  <!-- End comment #1 -->

  <div id="comment-2" class="comment">
    <div class="d-flex">
      <div class="comment-img">
        <img src="assets/img/blog/comments-2.jpg" alt="" />
      </div>
      <div>
        <h5>
          <a href="">Aron Alvarado</a>
          <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a>
        </h5>
        <time datetime="2020-01-01">01 Jan, 2020</time>
        <p>
          Ipsam tempora sequi voluptatem quis 
        </p>
      </div>
    </div>

    <div id="comment-reply-1" class="comment comment-reply">
      <div class="d-flex">
        <div class="comment-img">
          <img src="assets/img/blog/comments-3.jpg" alt="" />
        </div>
        <div>
          <h5>
            <a href="">Lynda Small</a>
            <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a>
          </h5>
          <time datetime="2020-01-01">01 Jan, 2020</time>
          <p>
            fugiat. Libero corporis qui. Nam illo odio beatae enim ducimus.
            Harum reiciendis error dolorum non autem quisquam vero rerum neque.
          </p>
        </div>
      </div>

      <div id="comment-reply-2" class="comment comment-reply">
        <div class="d-flex">
          <div class="comment-img">
            <img src="assets/img/blog/comments-4.jpg" alt="" />
          </div>
          <div>
            <h5>
              <a href="">Sianna Ramsay</a>
              <a href="#" class="reply"
                ><i class="bi bi-reply-fill"></i> Reply</a
              >
            </h5>
            <time datetime="2020-01-01">01 Jan, 2020</time>
            <p>
              Et dignissimos impedit nulla et quo distinctio ex nemo. Omnis quia
            </p>
          </div>
        </div>
      </div>
      <!-- End comment reply #2-->
    </div>
    <!-- End comment reply #1-->
  </div>
  <!-- End comment #2-->

  <div id="comment-3" class="comment">
    <div class="d-flex">
      <div class="comment-img">
        <img src="assets/img/blog/comments-5.jpg" alt="" />
      </div>
      <div>
        <h5>
          <a href="">Nolan Davidson</a>
          <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a>
        </h5>
        <time datetime="2020-01-01">01 Jan, 2020</time>
        <p>
          qui dolorum voluptatibus et optio veniam. Quam officia sit nostrum
          dolorem.
        </p>
      </div>
    </div>
  </div>
  <!-- End comment #3 -->

  <div id="comment-4" class="comment">
    <div class="d-flex">
      <div class="comment-img">
        <img src="assets/img/blog/comments-6.jpg" alt="" />
      </div>
      <div>
        <h5>
          <a href="">Kay Duggan</a>
          <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a>
        </h5>
        <time datetime="2020-01-01">01 Jan, 2020</time>
        <p>
          exercitationem non in fugiat.
        </p>
      </div>
    </div>
  </div>
  <!-- End comment #4 -->


  {% include "blog/includes/reply-form.html" %}

</div>
